<div>
  <div>
    <div>
      <%= render 'shared/errors', obj: @user %>
      <%= form_with(model: @user, local: true) do |f| %>
        <div>
          <%= f.label :username %>
          <div>
            <%= f.text_field :username, placeholder: "Enter a username" %>
          </div>
        </div>

        <div>
          <%= f.label :f_name %>
          <div>
            <%= f.text_field :f_name, placeholder: "Enter first name" %>
          </div>
        </div>

        <div>
          <%= f.label :l_name %>
          <div>
            <%= f.text_field :l_name, placeholder: "Enter last name" %>
          </div>
        </div>

        <div>
          <%= f.label :email %>
          <div> 
            <%= f.email_field :email, placeholder: "Enter your email address" %>
          </div>
        </div>

        <div>
          <%= f.label :password %>
          <div> 
            <%= f.password_field :password, placeholder: "Choose a password" %>
          </div>
        </div>

        <div>
          <%= f.label :avatar, style: "display: block" %>
          <%= f.file_field :avatar %>
        </div>

        <div>
          <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: "btn btn-outline-light btn-lg") %>
        </div>



      <% end %>
    </div>
    <div>
      <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info" %>
    </div>
  </div>
</div>